body {
  margin: 0;
  font-family: "Segoe UI", Arial, sans-serif;
  background-color: #f5f6fa;
}

.container {
  display: flex;
  height: 100vh;
}
.sidebar {
  width: 230px;
  background-color: #003366;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px 10px;
}
.beranda {
  display: block;
  margin-top: -300px;
}
.logo-section {
  text-align: left;
  display: flex;
}

.logo {
  width: 40px;
  margin-bottom: 10px;
  margin-right: 20px;
}

.sidebar h3 {
  font-size: 16px;
  font-weight: bold;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin: 15px 0;
}

.sidebar a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 8px 12px;
  border-radius: 6px;
  transition: 0.3s;
}

.sidebar a:hover,
.sidebar a.active {
  background-color: #004c99;
}

.logout {
  text-align: center;
  background-color: #c0392b;
  padding: 8px;
  border-radius: 6px;
  text-decoration: none;
  color: white;
}

.logout:hover {
  background-color: #e74c3c;
}

.content {
  flex: 1;
  padding: 20px 30px;
}


.header {
  background-color: white;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.welcome {
  font-size: 16px;
}

.card {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.card h3 {
  margin-bottom: 15px;
  color: #003366;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f1f1f1;
  color: #333;
}

.status {
  padding: 4px 10px;
  border-radius: 12px;
  color: white;
  font-weight: bold;
  font-size: 12px;
}

.lunas {
  background-color: #27ae60;
}

.belum {
  background-color: #e74c3c;
}
